<div class="container" formGroupName="userForm" (ngSubmit) = 'onSubmit()'>
    <div class="parameter">
        <span>name</span>
        <input type="text" formControlName = 'name'>
    </div>
    <div>
        <span>surname</span>
        <input type="text" formControlName = 'surname'> 
    </div>
    <div>
        <span>dob</span>
        <input type="text" formControlName = 'dob'>   
    </div>
    <div>
        <span>email</span>
        <input type="text" formControlName = 'email'>   
    </div>
    <div>
        <span>password</span>
        <input type="text" formControlName = 'password'>
    </div>
    <div>
        <span>city</span>
        <input type="text" formControlName = 'city'>
    </div>
    <div>
        <span>addres</span>
        <input type="text" formControlName = 'addres'>
    </div>
    <div>
        <span>cardnumber</span>
        <input type="text" formControlName = 'cardnumber'>
    </div>
    <button type="submit" (click)="register()">register</button>
</div>
